/*==========  footer  ==========*/
footer {
  background: #000;
  color: #fff;
  padding: 157px 0 187px; }
  footer .logo {
    max-width: 201px; }
  footer .phone {
    font-size: 64px;
    font-weight: 500;
    color: #fff; }
    footer .phone:hover {
      color: #B42024; }
  footer .list-social {
    margin: 0 auto 0 0; }
  footer .btn {
    height: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 22.5px; }

.footer-box {
  margin: -20px 0 0; }
  .footer-box p {
    color: #B42024;
    font-size: 48px;
    font-weight: 200; }
  .footer-box__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 21px 0 0;
    max-width: 515px; }

.footer-menu li {
  margin: 0 0 14px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    color: #fff; }
    .footer-menu li a:hover {
      color: #B42024; }

/*==========  footer end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
