/*==========  section header ==========*/
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  padding: 33px 0; }
  header .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }

.logo {
  max-width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }
  .menu li {
    margin: 0 24px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #000000; }
      .menu li a:hover {
        color: #B42024; }

.header-box p {
  font-size: 14px;
  color: #B42024;
  margin: 0 0 2px; }

.phone {
  font-size: 20px;
  font-weight: 500;
  color: #000; }
  .phone:hover {
    color: #B42024; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 52px 0 57px; }
  .list-social li {
    margin: 0 20px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

/*==========  section header end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
