/*==========  section home ==========*/
.home {
  margin: 58px 0 118px;
  position: relative; }
  .home:before {
    content: '';
    position: absolute;
    bottom: -212px;
    right: -54px;
    width: 1011px;
    height: 313px;
    z-index: -1;
    background: url("../img/decor-logo.svg") no-repeat center;
      background-size: 100%; }
  .home .btn {
    padding: 0 37px; }
  .home h1 {
    margin: 0 0 23px -165px;
    position: relative;
    z-index: 1; }

.home-content {
  margin: 90px 0 0; }

.home-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%; }
  .home-image img {
    width: 100%; }

/*==========  section home end  ==========*/
/*==========  section announcement ==========*/
.announcement-box h3 {
  font-size: 40px;
  text-transform: uppercase;
  min-width: 470px;
  position: relative;
  z-index: 1;
  margin: 0 0 77px; }

.announcement-box .btn {
  margin: auto 0 0;
  padding: 0 37px; }

.announcement-box__content {
  width: 100%;
  height: 100%;
  padding: 52px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.announcement-slider .slick-dots {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section announcement end  ==========*/
/*==========  section who-suit  ==========*/
.btn-details {
  max-width: 359px;
  width: 100%;
  padding: 0 27px; }

.select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto; }
  .select-wrapper p {
    max-width: 330px; }

.select {
  max-width: 260px;
  min-width: 260px;
  width: 100%;
  border: 2px solid #B7B7B7;
    border-radius: 5px;
  height: 58px;
  padding: 0 50px 0 32px;
  color: #808080;
  font-family: "Onest", sans-serif;
  background: url("../img/arrow-select.svg") no-repeat calc(100% - 28px) center;
    background-size: 23px; }

.or {
  margin: 0 auto; }

.who-suit-slider {
  margin: 105px 0 0;
  min-width: 2000px; }
  .who-suit-slider .slide {
    margin: 0 50px 0 0;
    height: auto; }
  .who-suit-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }

.who-suit-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.who-suit-box__item {
  text-transform: uppercase;
  position: relative;
  margin: 0 0 36px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }
  .who-suit-box__item-img {
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .who-suit-box__item-img:before {
      content: '';
      position: absolute;
      background: #fff; }
    .who-suit-box__item-img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .who-suit-box__item-text {
    max-width: 344px;
    width: 100%;
    position: relative;
    z-index: 1; }

.who-suit-box__item1 .who-suit-box__item-img {
  height: 204px;
  width: 352px; }

.who-suit-box__item1 .who-suit-box__item-text {
  margin: 23px 0 0 -106px; }

.who-suit-box__item2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .who-suit-box__item2 .who-suit-box__item-text {
    max-width: 371px;
    margin: 0 -220px 0 0; }
  .who-suit-box__item2 .who-suit-box__item-img {
    width: 437px;
    height: 180px; }
    .who-suit-box__item2 .who-suit-box__item-img:before {
      right: -1px;
      bottom: -1px;
      -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
              clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      width: 110px;
      height: 110px; }

.who-suit-box__item3 .who-suit-box__item-img {
  width: 225px;
  height: 420px; }
  .who-suit-box__item3 .who-suit-box__item-img:before {
    height: 100%;
    width: 144px;
    right: -1px;
    top: 0;
    -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 100% 50%, 0% 0%);
            clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 100% 50%, 0% 0%); }

.who-suit-box__item3 .who-suit-box__item-text {
  position: absolute;
  bottom: 0;
  max-width: 364px;
  width: 364px;
  left: 63px; }

.who-suit-box__item4 .who-suit-box__item-img {
  width: 359px;
  height: 313px; }
  .who-suit-box__item4 .who-suit-box__item-img:before {
    width: 208px;
    height: 313px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 98% 100%);
    right: -1px;
    top: -1px; }

.who-suit-box__item4 .who-suit-box__item-text {
  position: absolute;
  top: 18px;
  left: 190px;
  max-width: 430px;
  min-width: 430px; }

.who-suit-box__item5 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto 0 0; }
  .who-suit-box__item5 .who-suit-box__item-img {
    width: 245px;
    height: 232px; }
    .who-suit-box__item5 .who-suit-box__item-img:before {
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
              clip-path: polygon(0 0, 0% 100%, 100% 100%);
      width: 160px;
      height: 100%;
      left: -1px;
      bottom: -1px; }
  .who-suit-box__item5 .who-suit-box__item-text {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 324px;
    max-width: 324px; }

.who-suit-box__item6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .who-suit-box__item6 .who-suit-box__item-img {
    width: 352px;
    height: 204px; }
  .who-suit-box__item6 .who-suit-box__item-text {
    width: 100%;
    margin: 89px 0 0; }

/*==========  section who-suit end  ==========*/
/*==========  section offers  ==========*/
.offers {
  margin: 140px 0 114px; }
  .offers h2 {
    margin: 0 0 55px; }

.offer-box {
  width: 100%;
  height: 100%;
  max-height: 396px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  color: #fff; }
  .offer-box__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .offer-box__content {
    background: linear-gradient(287.84deg, rgba(180, 32, 36, 0.8) 5.67%, rgba(223, 0, 6, 0.8) 95.38%);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    padding: 32px 49px 38px 34px;
    margin: 200px 0 0 auto;
    width: 100%;
    max-width: 309px;
    min-height: 195px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer-box h4 {
    text-transform: uppercase;
    margin: 0 0 auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px; }
  .offer-box .link-white:hover {
    color: #B7B7B7; }
    .offer-box .link-white:hover .link-icon {
      stroke: #B7B7B7; }

.offers-slider .slick-dots {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section offers end  ==========*/
/*==========  section news  ==========*/
.news {
  margin: 149px 0 139px; }
  .news h2 {
    margin: 0 27px 0 0; }

.news-card__img {
  width: 100%;
  height: 359px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .news-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.news-card__body {
  width: 100%;
  padding: 29px 0 0; }

.news-card .date {
  color: #B42024;
  font-size: 14px; }

.news-card__title {
  margin: 20px 0 31px;
  color: #000000;
  font-size: 18px; }
  .news-card__title:hover {
    color: #B42024; }

.news-card .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 26.5px;
  height: 37px;
  font-size: 14px; }

/*==========  section news end  ==========*/
/*==========  section partners ==========*/
.partners-slider {
  margin: 40px 0 0; }
  .partners-slider .slide {
    padding: 0 20px; }
  .partners-slider .slick-list {
    margin: 0 -20px; }

.partners-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 89px; }
  .partners-slider__item img {
    max-height: 100%; }

/*==========  section partners end  ==========*/
/*==========  section events ==========*/
.events {
  margin: 160px 0 170px; }
  .events h2 {
    margin: 0 39px 0 0; }

.events-slider {
  min-width: 2000px;
  margin: 55px 0 0; }
  .events-slider .slide {
    margin: 0 30px 0 0;
    width: 619px; }
  .events-slider-item {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    color: #fff;
    padding: 32px 28px 34px;
    position: relative;
    z-index: 1; }
    .events-slider-item__img {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      z-index: -1; }
    .events-slider-item__body {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .events-slider-item__head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 0 160px;
      width: 100%;
      font-size: 20px;
      font-weight: 300; }
    .events-slider-item__title {
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 22px;
      font-size: 24px;
      font-weight: 800; }
      .events-slider-item__title:hover {
        color: #B42024; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px; }

.location-icon {
  fill: #fff;
  width: 11px;
  height: 15px;
  margin: 0 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*==========  section events end  ==========*/
/*==========  section testing ==========*/
.testing {
  margin: 148px 0 59px;
  position: relative;
  z-index: 1;
  padding: 16px 0 46px; }
  .testing:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url("../img/test-bg.svg") no-repeat center;
      background-size: contain;
    z-index: -1;
    width: 1794px;
    height: 556px; }
  .testing:before {
    content: '';
    position: absolute;
    right: -37px;
    bottom: -130px;
    width: 886px;
    height: 274px;
    background: url("../img/decor-logo-red.svg") no-repeat center;
      background-size: 100%;
    z-index: 1; }
  .testing h2 {
    font-size: 92px;
    font-weight: 200;
    position: relative;
    z-index: 1; }
    .testing h2 strong {
      display: block;
      font-size: 86px;
      font-weight: bold;
      white-space: nowrap; }
  .testing h3 {
    margin: 14px 0 40px;
    font-size: 31px;
    text-transform: uppercase; }

.testing-content {
  margin: 32px 0 0;
  min-width: 547px;
  z-index: 2;
  position: relative; }

.testing-image {
  border-radius: 5px;
  overflow: hidden;
  max-width: 949px;
  width: 100%;
  margin: 0 0 0 auto;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .testing-image img {
    width: 100%; }

/*==========  section testing end  ==========*/
/*==========  section contacts ==========*/
.contacts-page {
  margin: 0 0 119px; }
  .contacts-page h1 {
    margin: 0 0 69px; }

.map {
  border-radius: 5px;
  overflow: hidden;
  height: 623px;
  width: 100%; }
  .map iframe {
    width: 100%;
    height: 100%; }

.contacts-box {
  margin: 0 0 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #B42024; }
  .contacts-box p {
    font-size: 24px; }
  .contacts-box a {
    font-size: 64px;
    color: #B42024; }
    .contacts-box a:hover {
      color: #000; }

.mail {
  color: #B42024;
  text-transform: uppercase;
  margin: 0 0 60px;
  font-size: 24px;
  font-weight: 800; }
  .mail:hover {
    color: #000; }

.schedule {
  font-size: 24px; }
  .schedule p {
    color: #B42024;
    text-transform: uppercase; }
  .schedule span {
    font-size: 20px; }

.contacts-box-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 57px; }
  .social-box p {
    margin: 0 34px 0 0;
    font-size: 20px; }
  .social-box .list-social {
    margin: 0; }
    .social-box .list-social li {
      margin: 0 32px 0 0; }
      .social-box .list-social li:last-child {
        margin: 0; }

.news-page {
  margin: 0 0 110px; }

/*==========  section contacts end  ==========*/
/*==========  section article ==========*/
.article h1 {
  font-size: 40px;
  line-height: normal; }

.article-image {
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .article-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.text {
  line-height: 36px;
  font-size: 20px; }
  .text p {
    margin: 0 0 30px; }
    .text p:last-child {
      margin: 0; }

.video-box {
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  .video-box img, .video-box iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .video-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1; }

.btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 64px;
  height: 64px;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 50%; }
  .btn-play:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-left: 13px solid #FFFFFF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }

.upcoming-events {
  margin: 114px 0 173px; }

.info-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 30px 0 auto;
  border: 1.475px solid #C4C4C4;
    border-radius: 7px;
  text-transform: uppercase;
  padding: 14px 47px;
  font-size: 24px; }

.info-event-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 67px 0 0; }
  .info-event-item:last-child {
    margin: 0; }
  .info-event-item__icon {
    margin: 0 17px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 28px;
    min-width: 28px; }

.btn-registration {
  max-width: 351px;
  width: 100%; }

/*==========  section article end  ==========*/
/*==========  section events-page ==========*/
.events-page h1 {
  margin: 0 0 38px; }

.datepicker {
  max-width: 650px;
  width: 100%;
  margin: 0 0 0 auto; }
  .datepicker .ui-widget.ui-widget-content {
    border: 1.475px solid #C4C4C4;
      border-radius: 7px;
    width: 100%;
    padding: 35px 30px; }

.ui-datepicker .ui-datepicker-header {
  background: transparent;
  padding: 0 0 18px;
  border: none;
    border-bottom: 1.475px solid #B42024;
    border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Onest", sans-serif; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  border: none;
    border-radius: 0;
  height: auto;
  padding: 0 40px;
  text-align: center;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  font-family: "Onest", sans-serif; }

.ui-datepicker select.ui-datepicker-month {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  display: none; }

.ui-datepicker-calendar {
  font-family: "Onest", sans-serif; }

.ui-datepicker table {
  font-family: "Onest", sans-serif;
  margin: 0; }

.ui-datepicker th {
  padding: 16px 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #B42024;
  font-family: "Onest", sans-serif; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  text-align: center;
  border: 2px solid transparent;
    border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  color: #3D3D3D;
  font-size: 20px;
  font-weight: 500;
  font-family: "Onest", sans-serif;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ui-state-default:hover {
  border-color: #B42024; }

.ui-state-default.ui-state-active {
  background: #B42024;
  color: #fff; }

/*==========  section events-page end  ==========*/
/*==========  section support ==========*/
.support-page {
  margin: 0 0 206px; }

.support-box {
  margin: 0 0 106px; }
  .support-box:last-child {
    margin: 0; }
  .support-box__image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px; }
    .support-box__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .support-box h3 {
    position: relative;
    z-index: 1;
    background: linear-gradient(287.84deg, rgba(180, 32, 36, 0.8) 5.67%, rgba(223, 0, 6, 0.8) 95.38%);
    border-radius: 5px;
    color: #fff;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    margin: 0 0 36px -96px;
    text-transform: uppercase;
    padding: 7px 27px;
    font-size: 40px;
    font-weight: 800;
    max-width: 832px;
    min-height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .support-box .text {
    font-size: 18px;
    line-height: 31px;
    margin: 0 0 44px;
    padding: 0 0 0 37px;
    max-width: 750px; }
  .support-box .link {
    margin: auto 0 0 37px; }
  .support-box__content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.helper {
  margin: 44px 0 160px; }
  .helper h2 {
    margin: 0 0 40px; }

.quote {
  border: 2px solid #B7B7B7;
    border-radius: 10px;
  padding: 44px 50px 44px 67px;
  color: #B42024;
  font-size: 32px;
  line-height: 36px; }

.text-description {
  margin: 0 auto;
  max-width: 518px;
  width: 100%; }

/*==========  section support end  ==========*/
/*==========  section representatives ==========*/
.representatives {
  margin: 80px 0 140px; }
  .representatives h2 {
    margin: 0 0 44px; }

.representative-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 19px;
  border: 2px solid #B7B7B7;
    border-radius: 10px; }
  .representative-box__image {
    max-width: 167px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .representative-box__image img {
      width: 100%; }
  .representative-box__content {
    width: calc(100% - 167px);
    padding: 0 0 0 41px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .representative-box__head {
    width: 100%;
    margin: 0 0 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .representative-box__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 16px;
    font-weight: 300;
    color: #B42024;
    margin: auto 0 0; }
    .representative-box__footer p {
      margin: 0 auto 0 0; }
  .representative-box .link {
    font-size: 16px; }
  .representative-box .box-text {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px; }
  .representative-box__tel {
    margin: 0 60px 0 auto;
    color: #545454; }
    .representative-box__tel:hover {
      color: #B42024; }
  .representative-box h4 {
    font-weight: bold;
    font-size: 20px; }

/*==========  section representatives end  ==========*/
/*==========  section direction ==========*/
.direction-page {
  margin: 0 0 110px; }

.direction-box {
  width: 100%;
  line-height: 20px; }
  .direction-box h4 {
    margin: 29px 0;
    line-height: 31px;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%; }
  .direction-box__image {
    width: 100%;
    height: 371px;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .direction-box__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

/*==========  section direction end  ==========*/
/*==========  section about ==========*/
.about {
  margin: 0 0 53px; }
  .about h1 {
    margin: 0 0 30px; }

.about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 670px;
  height: 569px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 0 auto; }
  .about-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.function h2 {
  margin: 0 0 52px; }

.function-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #F2F2F2;
    border-radius: 5px; }
  .function-box__image {
    max-width: 520px;
    height: 425px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .function-box__image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .function-box__text {
    padding: 80px 0 0 50px;
    width: calc(100% - 520px); }

.nav-tabs-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.nav-tabs {
  max-width: 490px;
  width: 100%;
  border: none; }
  .nav-tabs .nav-link {
    border: none;
      border-radius: 0;
    position: relative;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 11px 68px;
    color: #000000;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 84px; }
    .nav-tabs .nav-link:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url("../img/tab-figure.svg") no-repeat right center;
        background-size: 100%;
      height: 100%;
      width: 46px;
      display: none; }
    .nav-tabs .nav-link.active {
      background: #F2F2F2;
      color: #000; }
      .nav-tabs .nav-link.active:before {
        display: block; }

.tab-content {
  width: calc(100% - 490px); }

.team {
  margin: 96px 0 140px; }

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative; }
  .team-box__photo {
    width: 228px;
    height: 435px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin: 0 0 0 auto; }
    .team-box__photo:before {
      content: '';
      position: absolute;
      left: -2px;
      bottom: -2px;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
              clip-path: polygon(0 0, 0% 100%, 100% 100%);
      width: 157px;
      height: 157px;
      background: #fff; }
    .team-box__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .team-box__content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 0 11px; }
    .team-box__content h4 {
      font-size: 24px;
      text-transform: uppercase;
      max-width: 175px; }
  .team-box .position {
    color: #B42024;
    margin: 7px 0 0;
    font-size: 16px;
    max-width: 175px;
    width: 100%; }

.team-slider {
  min-width: 2000px; }
  .team-slider .slide {
    width: 349px;
    margin: 0 78px 0 0; }

/*==========  section about end  ==========*/
/*==========  section industry-page ==========*/
.industry-page {
  margin: 0 0 100px; }
  .industry-page h1 {
    font-size: 128px;
    font-weight: 200;
    width: 100%; }
    .industry-page h1 strong {
      display: block;
      font-weight: 800;
      margin: 8px 0 0 320px; }

.industry-box {
  margin: -53px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: -1;
  position: relative;
  padding: 0 0 0 85px; }
  .industry-box__image {
    max-width: 679px;
    width: 100%;
    height: 590px;
    border-radius: 5px;
    overflow: hidden; }
    .industry-box__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .industry-box__content {
    width: calc(100% - 679px);
    margin: 0 0 0 -35px;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase; }

.industry-section .select-wrapper {
  margin: 0; }
  .industry-section .select-wrapper p {
    margin: 0 35px 0 0;
    font-size: 24px;
    max-width: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap; }

.industry-section .or {
  margin: 0 57px; }

.industry-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid #B7B7B7;
    border-radius: 10px;
  padding: 12px 32px 20px 14px; }
  .industry-item__image {
    max-width: 123px;
    height: 167px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .industry-item__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .industry-item__content {
    width: calc(100% - 123px);
    padding: 17px 0 0 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .industry-item h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 14px; }
  .industry-item .link {
    margin: auto 0 0 auto;
    font-size: 16px; }
  .industry-item .box-text {
    margin: 0 0 30px; }

.heritage {
  margin: 65px 0 125px; }

/*==========  section industry-page end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
