@font-face {
  font-family: "Onest";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Onest/Onest-Thin.eot");
  src: url("../fonts/Onest/Onest-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest/Onest-Thin.woff") format("woff"), url("../fonts/Onest/Onest-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Onest";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Onest/Onest-Light.eot");
  src: url("../fonts/Onest/Onest-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest/Onest-Light.woff") format("woff"), url("../fonts/Onest/Onest-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Onest";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Onest/Onest-Regular.eot");
  src: url("../fonts/Onest/Onest-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest/Onest-Regular.woff") format("woff"), url("../fonts/Onest/Onest-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Onest";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Onest/Onest-Medium.eot");
  src: url("../fonts/Onest/Onest-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest/Onest-Medium.woff") format("woff"), url("../fonts/Onest/Onest-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Onest";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Onest/Onest-Bold.eot");
  src: url("../fonts/Onest/Onest-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Onest/Onest-Bold.woff") format("woff"), url("../fonts/Onest/Onest-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Onest", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Onest", sans-serif;
  font-size: 16px;
  border: 2px solid #B7B7B7;
    border-radius: 5px;
  width: 100%;
  height: 58px;
  color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #808080; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #808080; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #808080; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #808080; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%;
  margin: 0 0 20px; }
  label:last-child {
    margin: 0; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Onest", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  height: 58px;
  border-radius: 5px;
  padding: 10px;
  max-width: 229px;
  width: 100%; }

.btn-sm {
  height: 45px; }

.btn-accent {
  color: #fff;
  background: #B42024; }
  .btn-accent:hover {
    background: #B7B7B7;
    color: inherit; }

.btn-gradient {
  background: linear-gradient(287.84deg, #B42024 5.67%, #DF0006 95.38%);
  color: #fff;
  -webkit-box-shadow: 0px 7px 22px rgba(180, 32, 36, 0.2);
          box-shadow: 0px 7px 22px rgba(180, 32, 36, 0.2);
  border-radius: 5px;
  padding: 19px 10px; }
  .btn-gradient:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(5.67%, #B42024), color-stop(95.38%, #DF0006));
    background: linear-gradient(to right, #B42024 5.67%, #DF0006 95.38%); }
  .btn-gradient .btn-icon {
    stroke: #ffffff; }

.btn-border {
  border: 2px solid #B42024;
    border-radius: 5px;
  color: #B42024; }
  .btn-border .svg-icon {
    stroke: #B42024; }
  .btn-border:hover {
    background: #B42024;
    color: #fff; }
    .btn-border:hover .btn-icon {
      stroke: #fff; }

.btn-icon {
  width: 40px;
  min-width: 40px;
  height: 24px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1560px; }

h1 {
  font-size: 86px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 110px;
  width: 100%; }

h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px; }

.h2-my {
  font-size: 40px; }

.wrapper {
  padding: 130px 0 0;
  width: 100%; }

.mb-22 {
  margin-bottom: 22px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-37 {
  margin-bottom: 37px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-90 {
  margin-bottom: 90px; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border: 2px solid #B7B7B7;
    border-radius: 50%;
  outline: none;
  stroke: #B7B7B7;
  background: transparent;
  padding: 12px; }
  .slick-arrow:hover {
    stroke: #B42024;
    border-color: #B42024; }
  .slick-arrow .svg-icon {
    fill: none; }

.slick-next {
  margin-left: 56px; }

.slick-arrow-my {
  border: none;
  padding: 0; }

.slick-dots {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  list-style: none;
  padding: 0; }
  .slick-dots li {
    cursor: pointer;
    outline: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 18px 0 0;
    width: 13px;
    height: 13px;
    min-width: 13px;
    border: 1px solid #B42024;
      border-radius: 50%; }
    .slick-dots li.slick-active {
      background: #B42024; }
    .slick-dots li button {
      display: none; }

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }

.link-icon {
  margin: 0 0 0 16px;
  width: 26px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.link-accent {
  color: #B42024; }
  .link-accent .link-icon {
    stroke: #B42024; }
  .link-accent:hover {
    color: #B7B7B7; }
    .link-accent:hover .link-icon {
      stroke: #B7B7B7; }

.link-white {
  color: #fff; }
  .link-white .link-icon {
    stroke: #fff; }
  .link-white:hover {
    color: #B42024; }
    .link-white:hover .link-icon {
      stroke: #B42024; }

.breadcrumb-nav {
  margin: 19px 0 58px; }

.breadcrumb {
  padding: 0;
  background: transparent;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D0D0D0;
  font-size: 16px; }
  .breadcrumb a {
    color: #D0D0D0; }
    .breadcrumb a:hover {
      color: #B42024; }

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0; }

.breadcrumb-item.active {
  color: #D0D0D0; }

.breadcrumb-item + .breadcrumb-item::before {
  margin: 0 5px;
  padding: 0;
  color: #D0D0D0; }

.btn-toggle {
  margin: 32px auto 0; }
