@import "vars"

/*==========  section home ==========*/
.home
  margin: 58px 0 118px
  position: relative
  &:before
    content: ''
    position: absolute
    bottom: -212px
    right: -54px
    width: 1011px
    height: 313px
    z-index: -1
    background: url('../img/decor-logo.svg') no-repeat center
      size: 100%

  .btn
    padding: 0 37px
  h1
    margin: 0 0 23px -165px
    position: relative
    z-index: 1

.home-content
  margin: 90px 0 0

.home-image
  @include d-flex
  border-radius: 5px
  overflow: hidden
  width: 100%
  img
    width: 100%
    
/*==========  section home end  ==========*/



/*==========  section announcement ==========*/
.announcement-box
  h3
    font-size: 40px
    text-transform: uppercase
    min-width: 470px
    position: relative
    z-index: 1
    margin: 0 0 77px
  .btn
    margin: auto 0 0
    padding: 0 37px
  &__content
    width: 100%
    height: 100%
    padding: 52px 0 60px
    display: flex
    flex-direction: column



/*==========  section announcement end  ==========*/

/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/



/*==========  section testing ==========*/
.testing
  margin: 148px 0 59px
  position: relative
  z-index: 1
  padding: 16px 0 46px

  &:after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background: url("../img/test-bg.svg") no-repeat center
      size: contain
    z-index: -1
    width: 1794px
    height: 556px
  &:before
    content: ''
    position: absolute
    right: -37px
    bottom: -130px
    width: 886px
    height: 274px
    background: url("../img/decor-logo-red.svg") no-repeat center
      size: 100%
    z-index: 1
  h2
    font-size: 92px
    font-weight: 200
    position: relative
    z-index: 1
    strong
      display: block
      font-size: 86px
      font-weight: bold
      white-space: nowrap
  h3
    margin: 14px 0 40px
    font-size: 31px
    text-transform: uppercase


.testing-content
  margin: 32px 0 0
  min-width: 547px

.testing-image
  border-radius: 5px
  overflow: hidden
  max-width: 949px
  width: 100%
  margin: 0 0 0 auto
  z-index: -1
  @include d-flex
  img
    width: 100%

/*==========  section testing end  ==========*/
